
body {
  font-family: Arial;
}


/* https://www.d3-graph-gallery.com/graph/interactivity_brush.html */
.brushed {
  opacity: 1 !important;
  stroke: black;
  stroke-width: 1px;
}

.holder {
  width:  33.33%;
  height: auto; 
}